<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
</head>
<body>
    <a href='/'><h1>Feedback</h1></a>
    <hr>
    {% for msg in get_flashed_messages() %}
        <p>{{msg}}</p>
    {% endfor %}
    {%block content%}
    {%endblock%}
    <hr>
    {% if 'cur_user' in session %}
        <a href="/users/{{session.get('cur_user')}}"><p>Profile</p></a>
        <a href="/logout"><p>Logout</p></a>
    {% else %}
        <a href="/login"><p>Login</p></a>
        <a href="/register"><p>Register</p></a>
    {% endif %}
</body>
</html>